@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-white-custom;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark rounded;
}

::-webkit-scrollbar-thumb:hover {
  background: #145a32;
}

body {
  @apply font-source-sans text-black-custom bg-white-custom;
}
